/*  Document CSS */

/* Height 100% */
html,body {height: 100%;}
.bloco {min-height: 100%; padding-top: 94px;}

/* Colors */
.cor1-ecl {background-color: #1E4598;}
.cor2-ecl {background-color: #8094DD;}
.cor3-ecl {background-color: #09195C;}



/* LOGO */
.logo_text {font-size: 0; margin: 0;}
.logo_img {width: 250px; margin-top: 15px}


/*  MENU  */
.navbar {background-color: transparent;}
.navbar ul a:hover {background-color: transparent; color:#09195C;}



/* HOME */
.home {	animation: slide_home 20s infinite;
		background-image: url('../assets/img/slide1.png'); 
		background-repeat: no-repeat; 
		background-size: cover;
}
.banner h2 {font-size: 2.5rem; font-weight: 900; text-transform: uppercase;}
.banner p {font-size: 1.2rem; line-height: 1.8rem;}


/* HOME - ANIMATION */
@keyframes slide_home{
	40% {background-image: url('../assets/img/slide2.png'); }
	80% {background-image: url('../assets/img/slide3.png'); }
	100% {background-image: url('../assets/img/slide1.png'); }
}


/*   SOBRE   */
.sobre{ background-image: url('../assets/img/textura1.jpg') }
.sobre h2 { font-size: 2rem; color: #212121; text-transform: uppercase; }
.sobre h2::after { content: ''; display: block; width: 100px; border-top:  1px solid #1E4598; margin:15px auto;}
.sobre p {line-height: 1.8rem; text-align: justify}




/***************** CUSTOM *************************/

nav {
  color: #fff;
  background-color: #09195C;
  width: 100%;
  height: 94px;
  line-height: 94px;
}

nav.nav-extended .nav-wrapper {
  min-height: 94px;
  height: auto;
}


.navbar-fixed {
  position: absolute;
  height: 94px;
  z-index: 997;
}

nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 94px;
  line-height: 94px;
}

/***************** CUSTOM *************************/






/* MEDIA */
@media only screen and (max-width: 480px) {
  
}

@media only screen and (min-width: 601px) {
	.banner {padding-top: 4.5rem}
	.banner h2 {font-size: 4rem;}	
}

@media only screen and (min-width: 993px) {
	.banner {padding-top: 5rem}
  	.banner h2 {font-size: 5rem;}
}


