/*  Document CSS */

/* Height 100% */
html,body {height: 100%;}
.bloco {min-height: 100%; padding-top: 94px;}

/* Colors */
.cor1-ecl {background-color: #1E4598;}
.cor2-ecl {background-color: #8094DD;}
.cor3-ecl {background-color: #09195C;}



/* LOGO */
.logo_text {font-size: 0; margin: 0;}
.logo_img {width: 250px; margin-top: 15px}


/*  MENU  */
.navbar {background-color: transparent; transition: background 0.5s linear;}
.navbar ul a:hover {background-color: transparent; color:#09195C;}
.nav-color{ background-color: rgba(0, 0, 0, 0.7); transition: background 0.5s linear; }



/* HOME */
.home {	animation: slide_home 20s infinite;
		background-image: url('../assets/img/slide1.png'); 
		background-repeat: no-repeat; 
		background-size: cover;
}
.banner h2 {font-size: 2.5rem; font-weight: 900; text-transform: uppercase;}
.banner p {font-size: 1.2rem; line-height: 1.8rem;}


/* HOME - ANIMATION */
@keyframes slide_home{
	40% {background-image: url('../assets/img/slide2.png'); }
	80% {background-image: url('../assets/img/slide3.png'); }
	100% {background-image: url('../assets/img/slide1.png'); }
}


/*  TITULO E PARAGRAFO */
.titulo { font-size: 2rem; text-transform: uppercase;}
.titulo::after { content: ''; display: block; width: 100px; border-top:  1px solid #1E4598; margin:15px auto;}
.parag { line-height: 1.8rem; }



/*   SOBRE   */
.sobre{ background-image: url('../assets/img/textura1.png') }
.sobre p {line-height: 1.8rem; text-align: justify}
.sobre .missao-visao-valores{padding: 20px 0; margin-top: 35px;}
.sobre .missao-visao-valores .icon {color:#FFF;}
.sobre .missao-visao-valores h3 {font-size: 1.5rem; color:#FFF; text-transform: uppercase;}
.sobre .missao-visao-valores p {color:#FFF; text-align: center;}


/*   SOLUÇÕES   */
.solucoes {background-image: url('../assets/img/textura2.png');}



/*   CLIENTES   */
.clientes {background-image: url('../assets/img/img/bg-unidades.jpg'); background-repeat: no-repeat;
background-size: cover; background-attachment: fixed}
.clientes article p {line-height: 1.8rem;}






/***************** CUSTOM *************************/

/* nav {
  height: 94px;
  line-height: 94px;
} */


nav.nav-extended .nav-wrapper {
  min-height: 94px;
}


.navbar-fixed {
  position: absolute;
  height: 94px;
}

nav, nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons, nav a.button-collapse i {
  height: 94px;
  line-height: 94px;
}

.sidenav {background: url('../assets/img/textura2.png'); }
.sidenav li>a {color: #fff; font-weight: 100;}

.row {margin-bottom: 0;}

/***************** CUSTOM *************************/






/* MEDIA */
@media only screen and (max-width: 480px) {
  .card-image-horizontal{display: none;}
}

@media only screen and (min-width: 601px) {
	.banner {padding-top: 4.5rem}
	.banner h2 {font-size: 4rem;}
	.container {width: 85%;}	
}

@media only screen and (min-width: 993px) {
	.banner {padding-top: 5rem}
  	.banner h2 {font-size: 5rem;}
  	.container {width: 90%;}
}

@media only screen and (min-width: 993px) {
	nav a.button-collapse {
    	display: none;
   	}
 }


