<header>
	<div class="row">
    <div class="col-sm-4 logo_header"><span>{{ site.title }}</span></div>


    <div class="col-sm-2 social_header">
    	<div class="list-group list-group-horizontal">
  			<a href="#">FB</a>
  			<a href="#">TW</a>
  			<a href="#">IN</a>
		</div>
    </div>


    <div class="col-sm-6 pesquisar">
    	<form class="navbar-form navbar-left">
        <div class="form-group">
          <span>Pesquisar por:</span><input type="text" class="form-control" placeholder="Pesquisar...">
        </div>
        <button type="submit" class="btn btn-default">Pesquisar</button>
      </form>
    </div>
  </div>
</header>